@page "/Profile/ConfirmEmailChange"
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<div class="md:w-3/4 mt-2 self-center mb-6">
    <div class="flex flex-col mt-3 bg-lighterprimary1 shadow p-3 text-darkshades">
        <p>@Model.StatusMessage</p>
    </div>
</div>