@page "/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<div class="w-full flex flex-wrap grow bg-primary justify-center">

    <div class="w-full md:w-3/4 flex flex-col">

        @* Logo *@
        <a asp-page="./Login" class="relative top-[3rem] ml-4 h-[50px] w-[50px] rounded-[10px] bg-transparent shadow-[6px_6px_0px_#332b41,_-6px_-6px_0px_#cdabff]" alt="Logo">
            <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-12">
            </div>
        </a>

        @* Register form *@
        <div class="flex flex-col justify-center md:justify-start pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl">Forgot your password?</p>
            <form method="post" class="flex flex-col pt-3 md:pt-8">
                <div class="flex flex-col pt-4">
                    <label asp-for="Input.Email" class="text-lg"></label>
                    <input asp-for="Input.Email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"/>
                    <span asp-validation-for="Input.Email" class="mt-2 text-sm text-red-400"></span>
                </div>

                <button type="submit" class="text-white bg-info hover:bg-darkshades focus:ring-4 focus:ring-darkshades font-bold text-lg rounded-lg text-sm p-2 mt-8 text-center">Submit</button>
            </form>
            <div asp-validation-summary="All" class="mt-4 p-3 text-red-700 rounded text-lg text-center bg-red-300"></div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}