@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="md:w-3/4 mt-2 self-center mb-6">
    <div class="flex flex-col mt-3 bg-lighterprimary1 shadow p-3 text-darkshades">
        @{
            if (@Model.DisplayConfirmAccountLink) {
                <p>
                    This app does not currently have a real email sender registered, see <a class="text-info italic" href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
                    Normally this would be emailed: <a class="text-white italic" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
                </p>
            } else {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
    </div>
</div>
