@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="bg-primary self-center max-w-lg rounded-xl shadow-xl p-2 mb-6 mt-6 w-full md:w-3/4">
    <form class="flex flex-col pt-3" id="change-password-form" method="post">
        <div asp-validation-summary="All" class="mt-2 text-sm text-red-400"></div>
        <input asp-for="Input.Code" type="hidden"/>
        <div class="flex flex-col pt-4">
            <label asp-for="Input.Email" class=""></label>
            <input asp-for="Input.Email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"/>
            <span asp-validation-for="Input.Email" class="mt-2 text-sm text-red-400"></span>
        </div>
        <div class="flex flex-col pt-4">
            <label asp-for="Input.Password" class=""></label>
            <input asp-for="Input.Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"/>
            <span asp-validation-for="Input.Password" class="mt-2 text-sm text-red-400"></span>
        </div>
        <div class="flex flex-col pt-4">
            <label asp-for="Input.ConfirmPassword" class=""></label>
            <input asp-for="Input.ConfirmPassword" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"/>
            <span asp-validation-for="Input.ConfirmPassword" class="mt-2 text-sm text-red-400"></span>
        </div>
        <button type="submit" class="text-white bg-info hover:bg-darkshades focus:ring-4 focus:ring-darkshades w-fit self-center rounded-lg text-sm p-2.5 mt-2 text-center">Reset password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}