@page "/Profile"
@using Oyster.HelperClasses
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@if (Model.IsServerError) {
    <div class="animate-hide animation-delay-5s animation-fill-forwards flex p-4 mb-4 text-sm text-red-250 bg-danger rounded-lg" role="alert">
        <svg class="inline flex-shrink-0 mr-3 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path>
        </svg>
        <div>
            <span class="font-medium">Error!</span> There was an error processing your request.
        </div>
    </div>
}

<partial name="_StatusMessage" model="Model.StatusMessage"/>

<div class="bg-primary flex flex-col self-center max-w-lg rounded-xl shadow-xl p-4 mb-6 mt-6 w-full md:w-3/4">
    <div class="flex">
        @* Show a default photo if the user does not have one *@
        @if (Model.CurrentUser.Avatar is null) {
            <div class="h-fit text-center">
                <div class="w-24 h-24 rounded-full shadow-xl bg-gray-100 overflow-hidden">
                    <img src="@(DefaultDataProvider.GetDefaultUserAvatar())" alt="">
                </div>
            </div>
        } else {
            <div class="h-fit text-center">
                <img class="min-w-[96px] w-[96px] h-[96px] object-cover rounded-full shadow-xl" src="@Model.CurrentUser.Avatar.Url"
                     alt="User avatar">
            </div>
        }
        <div class="flex flex-col ml-4">
        <form class="flex h-fit" asp-page-handler="ChangeDisplayName" method="post">
            <input id="display-name-input" disabled value="@Model.CurrentUser.DisplayName" asp-for="DisplayName" class="focus:ring-0 border-0 mt-2 h-fit bg-transparent font-semibold focus:border focus:border-darkshades shadow-xl appearance-none rounded text-white leading-none focus:shadow-outline"/>
            <button class="mt-2 self-center ml-1" id="edit-name-btn" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"/>
                </svg>
            </button>
            <button type="submit" class="mt-2 self-center ml-1 hidden" id="submit-name-change-btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5"/>
                </svg>
            </button>
        </form>
            <p class="w-fit p-1 focus:ring-0 border-0 mt-2 h-fit bg-transparent font-semibold shadow-xl appearance-none rounded text-white text-xs leading-none underline">
                @@@Model.CurrentUser.PublicUsername
            </p>
            </div>


    </div>
    <form class="p-4 mt-4 mx-4" enctype="multipart/form-data" method="post">
        <label class="block mb-2 font-medium text-white" asp-for="ImageFile">Upload new avatar</label>
        <input asp-for="ImageFile" class="shadow bg-darkshades border border-primary text-white text-sm rounded-lg focus:ring-info focus:border-info block w-full" accept=".png,.jpg,.jpeg,.gif" type="file">
        <p class="mt-1 mb-1 text-xs text-white ml-3">png, jpg or gif (max. 2MB).</p>
        <span asp-validation-for="ImageFile" class="mt-2 text-sm text-red-400"></span>

        <span class="mt-2 text-sm text-red-400">
            @if (!Model.IsPhotoFileTypeValid) {
                @Model.InvalidPhotoFileTypeMessage
            }
        </span>
        <button type="submit" class="block text-white mt-4 bg-info hover:bg-darkshades focus:ring-4 focus:ring-darkshades font-medium rounded-lg text-sm px-5 py-2.5 text-center">Change avatar</button>
    </form>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
    <script>
        const editNameBtn = document.getElementById("edit-name-btn");
        const displayNameInput = document.getElementById("display-name-input");
        const submitNameChangeBtn = document.getElementById("submit-name-change-btn");
        window.addEventListener('DOMContentLoaded', () => {
            editNameBtn.addEventListener("click", () => {
                displayNameInput.disabled = !displayNameInput.disabled;
                submitNameChangeBtn.classList.toggle("hidden");
                displayNameInput.focus();
            })
        });
    </script>
}